NOTION_TOKEN=ntn_6245***************eLL
NOTION_FRONTEND_DATASOURCE_ID=25fe8a55************************4d6a
NOTION_BACKEND_DATASOURCE_ID=25be8a55************************8574

TELEGRAM_BOT_TOKEN=5042066438:AAFeD******************QYXTM
TELEGRAM_CHAT_ID=-1001258******2904
TELEGRAM_TOPIC_ID=******

HELP_DOCS_URL=https://www.notion.com/help
TRANSLATION_URL=https://the-block.club/help
