---
title: "Two-step verification"
emoji: null
description: null
url: "https://www.notion.com/help/two-step-verification"
key: "help:two-step-verification"
coverImage: null
category: "Settings & preferences"
categoryKey: "category:account-settings-and-privacy"
---

**In order to use 2-step verification, you must:**

* Have a password.

* Not be in an organization that requires login via identity provider (such as Okta, Microsoft Azure, Google Workspace, etc.).

Two-step verification adds an extra layer of protection to your Notion account.

By enabling two-step verification, you can help keep your Notion account and your organization more secure. This feature is available to all plan types and can be set up easily in your account settings.

## Set up two-step verification

To set up two-step verification:

1. Go to `Settings` in your sidebar → `{your name}`.

2. Under `Account security`, select `Add verification method` next to `2-step verification`.

3. Choose to set up using `Code from authenticator` or `Text me a code`.

**Note:** Depending on your region, you may only be able to verify using an authenticator app.

### Using authenticator

If you want to set up two-step verification using an authenticator code:

1. Scan the QR code from your chosen authenticator app and name the authentication method to help you remember later.

2. Enter a one-time code from the authenticator to complete setup.

3. If this is your first added two-step method, make sure to save your backup codes.

### Using text

If you want to set up two-step verification using a code sent to your phone number:

1. Add a phone number where you can receive text messages.

2. Enter the code you were sent.

3. If this is your first added two-step method, make sure to save your backup codes.

## Authenticate with your backup code

To authenticate using your backup code:

1. Sign into Notion using your email address and password.

2. When prompted to complete two-step authentication, click `Try another method`.

3. Click `Use backup code`.

## Change or remove verification methods

You can have up to four verification methods, two authenticators and two phone numbers. To change your verification methods:

1. Go to `Settings` in your sidebar → `{your name}`.

2. Under `Account security`, select `Change verification method` next to `2-step verification`.

3. Verify your identity using an active two-step method.

### Remove two-step verification

To remove two-step verification:

1. Hover and click the ••• next to the active method you want to remove.

2. Click `Delete` and confirm your choice.

### Add a verification method

To add another verification method:

1. Click on `Add authenticator `or `Add phone number`.

2. Follow the instructions above.


## FAQs